<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler for Node.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- Don't interfere with debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Serve static files directly -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(?!server\.js).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{REQUEST_URI}"/>
        </rule>

        <!-- Route all other requests to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- IISNode Configuration -->
    <iisnode 
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="iisnode"
      watchedFiles="*.js;iisnode.yml"
      maxLogFileSizeInKB="1024"
      maxTotalLogFileSizeInKB="10240"
      maxLogFiles="20"
    />

    <!-- Security -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Error Handling -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Default Document -->
    <defaultDocument enabled="false" />
  </system.webServer>
</configuration>